.Weather {
    background-color: #d2e6b5;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px ;
}

.Weather form {
    margin-bottom: 20px;
}

div.col {
    display: flex;
    justify-content: center;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin: 20px;
}

input.search {
    outline: none;
    border: none;
    padding: 5px;
    border-bottom: 3px solid green;
    border-radius: 0;
    background-color: #d2e6b5;
    width: 50%;
    cursor: auto;

}

input.btn {
    color: black;
    background-color: #b1cf86;
    border: none;
    padding: 10px;
    margin-left: 25px;
}

input.btn:hover {
    background-color: #a0c172;
}


.Weather h1 {
    display: block;
    font-size: 50px;
    text-align: center;

 }

.Weather h2 {
    display: block;
    font-size: 35px;
    text-align: center;

 }

.Weather li {
    list-style: none;
 }

.Weather canvas {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
 }

.Description span {
    display: block;
    justify-content: left;
} 

.temp {
    font-size: 50px;
}

.WeatherInfo {
    padding: 10px;
}