.Weather {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 50px;
}

.Weather form {
    margin-bottom: 20px;
}

.Weather input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.Weather h1 {
    display: block;
    font-size: 48px;
    text-align: center;

 }

.Weather h2 {
    display: block;
    font-size: 35px;
    text-align: center;

 }

.Weather li {
    list-style: none;
 }

.Weather canvas {
    display: block;
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
 }

.Description span {
    display: block;
    justify-content: left;
} 

.temp {
    font-size: 50px;
}